{% extends 'MainWebsite/base.html' %}

{% block content %}
  <div class="section wf-section">
    <h1 class="heading-6">Pick A Plan</h1>
    <div class="w-layout-grid grid">
      <div id="w-node-_298015e6-c483-ff70-b1f2-24255f2f735b-971bc838" class="plan-card"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="95" alt="" class="image-4">
        <h1 class="heading-9">Basic</h1>
        <div class="bullets-container">
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Headingdadsfa sdfasdf asdf a sdfasdf asdfasdfasdf asdf a </h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
        </div>
        <div class="bullet-wrapper">
          <ul role="list" class="list"></ul>
        </div>
        <a href="{% url 'MainWebsite:onboarding-free' %}" class="button-2">Button Text</a>
      </div>
      <div id="w-node-_5722612c-ee56-8be7-6641-9838b9e2ece0-971bc838" class="plan-card"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="95" alt="" class="image-4">
        <h1 class="heading-9">Basic</h1>
        <div class="bullets-container">
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Headingdadsfa sdfasdf asdf a sdfasdf asdfasdfasdf asdf a </h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
        </div>
        <div class="bullet-wrapper">
          <ul role="list" class="list"></ul>
        </div>
        <a href="#" class="button-2">Button Text</a>
      </div>
      <div id="w-node-_3768367a-d628-147c-945b-88d27e44e0a0-971bc838" class="plan-card"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="95" alt="" class="image-4">
        <h1 class="heading-9">Basic</h1>
        <div class="bullets-container">
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Headingdadsfa sdfasdf asdf a sdfasdf asdfasdfasdf asdf a </h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
          <div class="bullet"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="37" alt="" class="image-3">
            <h1 class="heading-10">Heading</h1>
          </div>
        </div>
        <div class="bullet-wrapper">
          <ul role="list" class="list"></ul>
        </div>
        <a href="#" class="button-2">Button Text</a>
      </div>
    </div>
  </div>


{% endblock %}