{% extends 'Budget/base.html' %}
{% load static %}
{% load humanize %}
{% load mathfilters %}
{% block content %}

  <div class="full-page-wrapper" id="specific-payment-wrapper">
    <div class="middle-container">
      <div class="top-wrapper">
        <div class="left-recc"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-11">
          <div class="inner-left-rec">
            <h1 class="recc-title">Amazon Prime</h1>
            <h1 class="recc-subtitle">Heading</h1>
          </div>
        </div>
        <div>
          <h1 class="recc-type">Heading</h1>
        </div>
      </div>
      <div class="div-block-15">
        <div>
          <div class="w-layout-grid grid-4">
            <div id="w-node-a1e0e8e4-435c-b498-92cc-9fe48b5793dd-5b300d33" class="left">
              <h1 class="spent-this-year">SPENT THIS YEAR</h1>
              <h1 class="spent-this-year number">$25.13</h1>
            </div>
            <div id="w-node-_190f1d13-56c8-72df-a042-22d956c1c4f3-5b300d33" class="right">
              <a href="#" class="button-3 remove w-button">Cancel Subscription</a>
              <a href="#" class="button-3 manage w-button">MANAGE SUBSCRIPTION</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="back-btn-wrapper">
      <a href="#" class="button-3 manage back w-button">Back</a>
    </div>
  </div>






{% endblock %}